[submodule "packages/downloader-rs"]
	path = packages/downloader-rs
	url = https://github.com/ilinchunjie/downloader-rs.git
[submodule "packages/vfs-rs"]
	path = packages/vfs-rs
	url = https://github.com/ilinchunjie/vfs-rs.git
[submodule "Unity/Assets/ClientKit"]
	path = Unity/Assets/ClientKit
	url = https://github.com/ilinchunjie/com.yeegame.clientkit-rs
